$font-logo: "Sevillana", cursive;
$font-title: "Palanquin Dark", sans-serif;
$font-subtitle: "Namdhinggo", serif;
$primary-color: #222222;
$color-logo: #fed136;
$subtitle-color: #777777;

// Global //

body {
    font-family: $font-subtitle;
    color: $primary-color;
    margin: 0;
}

// Header //

header {
    padding: 12px 0;
}

.logo {
    display: inline-block;
    font-size: 25px;
}
.logo a {
    font-family: $font-logo;
    font-weight: 700;
    color: $color-logo;
    text-decoration: none;
}

.menu {
    display: inline-block;
    width: 90%;
    text-align: right;
}
.menu ul {
    font-family: $font-title;
    text-transform: uppercase;
    font-size: 13px;
}
.menu li {
    display: inline-block;
    margin: 0 36px 0 0;
}
.menu a {
    color: #ffffff;
    text-decoration: none;
}
.menu a:hover {
    color: $color-logo;
}

// Home //

.home-header {
    width: 100%;
    height: 70vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
        ),
        url("/images/1.jpg");
    background-position: center center;
    background-size: cover;
}

.home {
    display: flex;
    height: 100%;
}
.home-captions {
    text-align: center;
    margin: auto;
    max-width: 70%;
    color: #ffffff;
}
.home-captions h1 {
    margin: 20px 0;
    padding-bottom: 10px;
    font-family: $font-title;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    line-height: 75px;
    font-size: 70px;
}
.home-captions h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 100;
}
.home-captions .btn {
    display: inline-block;
    min-width: 220px;
    margin: 24px auto 0 auto;
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: $font-title;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    background-color: $color-logo;
    color: #ffffff;
}
.home-captions .btn:hover {
    background-color: #eec327;
}

// Services //

section {
    text-align: center;
    margin: 100px 0 50px;
}

.section-title, .card {
    margin-bottom: 75px;
}

.section-title h3 {
    font-family: $font-title;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 1.6px;
    margin-bottom: 0;
}
.section-title p {
    margin-top: 0;
    color: $subtitle-color;
}

.card-icon {
    color: $color-logo;
    font-size: 30px;
}
.card-body h4 {
    font-family: $font-title;
    letter-spacing: 0.5px;
    margin-bottom: 0;
}
.card-body p {
    color: $subtitle-color;
}

// Portfolio //

.portfolio {
    background-color: #f7f7f7;
    padding: 80px 0;
    margin: 0;
}
.portfolio .card {
    cursor: pointer;
    background-color: #ffffff;
}
.portfolio .card:hover {
    opacity: 0.5;
}

.card img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.portfolio .card-body {
    padding: 10px 0 25px;
}
.portfolio h4, .portfolio p {
    margin: 0;
}

// Footer //

footer {
    padding: 20px 0;
}
footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-top: 25px;
}

.social-icons {
    text-align: center;
    padding: 0;
}
.social-icons li {
    display: inline-block;
    font-size: 0;
    margin: 0 5px;
    transform: translate(-90%, 0%);
}
.social-icons li i {
    position: relative;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: #333333;
    font-size: 20px;
    color: $primary-color;
    border-radius: 50%;
    cursor: pointer;
    padding: 15px 20px 0;
}
.social-icons .fa-twitter:hover {
    background-color: #00aced;
}
.social-icons .fa-facebook-f:hover {
    background-color: #3b5998;
}
.social-icons .fa-pinterest:hover {
    background-color: #cb2028;
}
.social-icons .fa-google-plus-g:hover {
    background-color: #da2713;
}
.social-icons li i::before {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {

    .menu {
        width: 100%;
        text-align: center;
    }

    .menu ul {
        margin-top: 20px;
        padding: 0;
    }

    .home-captions {
        margin: 70px auto auto;
    }

    .home-captions h1 {
        font-size: 50px;
        line-height: 1;
    }

    .social-icons li i {
        transform: translate(80%, 0%);
    }
}