//font-family: "Sevillana", cursive;
//font-family: "Namdhinggo", serif;
//font-family: "Palanquin Dark", sans-serif;

$font-logo: "Sevillana", cursive;
$font-title: "Palanquin Dark", sans-serif;
$font-subtitle: "Namdhinggo", serif;
$primary-color: #222222;
$color-logo: #fed136;
$subtitle-color: #777777;

// Global //

body {
    font-family: $font-subtitle;
    color: $primary-color;
    margin: 0;
}

// Header //

header {
    padding: 12px 0;
    align-content: center;
}

.logo {
    display: inline-block;
    font-size: 25px;
}
.logo a {
    font-family: $font-logo;
    font-weight: 700;
    color: $color-logo;
    text-decoration: none;
}

.menu {
    display: inline-block;
    width: 90%;
    text-align: right;
}
.menu ul {
    font-family: $font-title;
    text-transform: uppercase;
    font-size: 13px;
}
.menu li {
    display: inline-block;
    margin: 0 36px 0 0;
}
.menu a {
    color: #ffffff;
    text-decoration: none;
}
.menu a:hover {
    color: $color-logo;
}

// Home //

.home-header {
    width: 100%;
    height: 70vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
        ),
        url("/images/1.jpg");
    background-position: center center;
    background-size: cover;
}

.home-captions {
    text-align: center;
    margin: auto;
    max-width: 70%;
    padding-top: 160px;
    color: #ffffff;
}
.home-captions h1 {
    margin: 0;
    padding-bottom: 10px;
    font-family: $font-title;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    line-height: 75px;
    font-size: 50px;
}
.home-captions h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 100;
}
.home-captions .btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 13px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: $font-title;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    background-color: $color-logo;
    color: #ffffff;
}
.home-captions .btn:hover {
    background-color: #eec327;
}

// Services //

.services {
    text-align: center;
    margin: 100px 0;
}

.section-title, .card {
    margin-bottom: 75px;
}

.section-title h3 {
    font-family: $font-title;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1.6px;
    margin-bottom: 0;
}
.section-title p {
    margin-top: 0;
    color: $subtitle-color;
}

.card-icon {
    color: $color-logo;
    font-size: 30px;
}
.card-body h4 {
    font-family: $font-title;
    letter-spacing: 0.5px;
    margin-bottom: 0;
}
.card-body p {
    color: $subtitle-color;
}